*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  margin: 0;
  background-color: lightgray;
  font-family: sans-serif;

  background-color:whitesmoke;
}

  h1 {
    color: rgb(47, 15, 173);
    text-align: center;
  }
  h2 {
    color: rgb(0, 0, 0);
    text-align:center;
  }

  h5 {
    color: rgb(0, 0, 1);
    text-align: center;
  }
  .bilder {
    text-align: center;
  }

  .bilder > img {
    width: 100%;
  }
  #Nav{
    list-style-type: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5d5959;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(248, 248, 248);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #6a3f3f;
  }